body {
    padding: 0;
    margin: 0;
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    align-self: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 1;
}
