.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex: 1;
}
.places h1 {
    width: 100%;    
    font-size: 30px;
}
article {
    display: flex;
    width: 390px;
    padding: 20px;  
    margin: 20px;
    flex-direction: column;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
}
.places > article > h2 {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}
.price_by_night {
    display: flex;
    position:absolute;
    left: auto;
    color: #FF5A5F;
    border: solid 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    align-items: center;
    padding: auto;
    margin-left: 22%;
}
.price_by_night span {
    position: relative;
    font-size: 30px;
    text-align: center;
    color:  #FF5A5F;
    padding: 6px;
}
.information {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: solid 1px #DDDDDD;
    border-top: solid 1px #DDDDDD;
    margin-top: 20px;
}
.information p{
    margin-bottom: 0;
    margin-top: 0;
    padding:0;
    height: 15%;
}
.max_guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 60px;
}

.max_guest_icon {
    width: 60px;
    height: 60px;
    background-image: url(/Users/toshi/Holbeton/AirBnB_clone-1/images/icon_group.png);
    background-repeat: no-repeat;
    background-position: center;
}
.number_rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 60px;
}
.number_rooms_icon {
    width: 60px;
    height: 60px;
    background-image: url(/Users/toshi/Holbeton/AirBnB_clone-1/images/icon_bed.png);
    background-repeat: no-repeat;
    background-position: center;
}
.number_bathrooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 60px;
}
.number_bathrooms_icon {
    width: 60px;
    height: 60px;
    background-image: url(/Users/toshi/Holbeton/AirBnB_clone-1/images/icon_bath.png);
    background-repeat: no-repeat;
    background-position: center;
}
.user {
    width: 100%;
    margin-top: 20px;
}
.description {
    width: 100%;
    margin-top: 10px;
    text-align: left; 
    display: flex;   
}